<launch>
  <arg name="use_image_transport" default="false"/>
  <arg name="pub_disparity_img" default="false"/>
  <arg name="pub_disparity" default="false"/>
  <arg name="pub_imu" default="false"/>
  <arg name="time_sync" default="true"/>
  <arg name="img_pub_intervals" default="2"/>
  <arg name="cali_path" default="$(find seeker)/config/seeker_omni_depth/cali"/>
  <arg name="publish_bgra" default="true"/>
  <arg name="publish_gray" default="false"/>
  <arg name="undistort_color" default="true"/>
  <arg name="undistort_gray" default="false"/>

  <node pkg="nodelet" type="nodelet" name="seeker_node"
        args="standalone seeker/SeekRosNode"
        output="screen">
    <param name="use_image_transport" value="$(arg use_image_transport)"/>
    <param name="pub_disparity_img" value="$(arg pub_disparity_img)"/>
    <param name="pub_disparity" value="$(arg pub_disparity)"/>
    <param name="pub_imu" value="$(arg pub_imu)"/>
    <param name="time_sync" value="$(arg time_sync)"/>
    <param name="imu_link" value="imu"/>
    <param name="img_pub_intervals" value="$(arg img_pub_intervals)"/>
    <param name="cali_path" value="$(arg cali_path)"/>
    <param name="publish_bgra" value="$(arg publish_bgra)"/>
    <param name="publish_gray" value="$(arg publish_gray)"/>
    <param name="undistort_color" value="$(arg undistort_color)"/>
    <param name="undistort_gray" value="$(arg undistort_gray)"/>
  </node>
</launch>
